.theme-militar {
  /* Estilo Comando Táctico - Pastelized */
  --theme-bg: rgb(156, 156, 116);
  /* Stone 100 */
  --theme-color: #44403c;
  /* Stone 700 */
  --theme-secondary: #78716c;
  /* Stone 500 */
  --theme-header-bg: #d6d3d1;
  /* Stone 300 */
  --theme-accent: #84cc16;
  /* Lime 500 */
  --theme-select-indicator: #57534e;
  /* Stone 600 */
  --action-create: #57534e;
  --action-edit: #a16207;
  --action-delete: #78350f;
  --action-update: #4d7c0f;
  --font-theme: "Black Ops One", system-ui;
  background-color: var(--theme-bg);
  background-image: url("/themes/militar/backgrounds/bg_militar.png");
  color: var(--theme-color);
}
